.nrr{
  width: 80px;
  height: 80px;
  position: relative;
  left: 9px;
  top: 2px;
  border-radius: 5px;
}
.NRR{
  background: green;
  max-width: 100px;
  height: 120px;
  border-radius: 10px;
}
button{
  background: #4F46E5;
  border: solid 1px black;
  border-radius: 0 0 8px 8px;
}
.scale{
  background: green;
  max-width: 100px;
  height: 120px;
  border-radius: 10px;
  margin-left: 5px;
}
body{
  display: flex;
}